RewriteEngine On

#Finnish links explained:
#yhteystiedot.php  -> contact page
#kuva.php          -> picture page
#dropbox.php       -> picture(s) page

#PHP Links
RewriteRule ^tietoa?$ yhteystiedot.php
RewriteRule ^auth?$ login.php
RewriteRule ^etusivu?$ index.php
RewriteRule ^signup?$ register.php
RewriteRule ^logout?$ logout.php
RewriteRule ^home?$ members.php
RewriteRule ^oma?$ mymembers.php
RewriteRule ^profiili?$ profile.php
RewriteRule ^kuva?$ kuva.php
RewriteRule ^kuvat?$ dropbox.php

#if the url is wrong then it will redirect to our 404 file. in this case 404.php
ErrorDocument 404 http://marcosraudkett.com/projektityo/404.php
